.container{
    display: block;
}
.LCloud{
    display: flex;
    position: relative;
}
.largecloud{
    display: flex;
    position: absolute;
    width: 100%;
    height: 500px;
}
.mountain{
    display: flex;
    max-width: 60%;
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    mix-blend-mode: multiply;
    
}